
* {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  HEADER  HOME */

.linea-superior {
    background: rgb(3, 28, 31);
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

.linea-superior .btn {
    background: none;
    border:none;
    font-size: 13px;
    margin-left: 30px;
}

.linea-superior .btn:hover{
    color:grey;
}

.linea-superior .rrss {
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 20px;

}

.linea-superior .rrss p{
    margin: 13px 10px auto auto;
    color:white;
    font-size: 13px;
    
}

/* dropdown web equipos */

.btn-group button:focus{
    box-shadow: none;

}

.dropdown-menu {
    min-width: 15rem;
    background-color: rgb(3, 28, 31);
    
    
}

.dropdown-menu li {
    padding: 10px;
    border: 2px solid rgb(5, 45, 49);
}
.dropdown-menu li:hover {
    background-color: rgba(5, 45, 49, 0.589);
    transform: scale(1.1);
    border: none;
}

.dropdown-menu img {
    width: 20px;
    margin: 0 5px 0 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: lightgrey;
   font-size: 13px;

}


/* navbar */

.navbar {
    margin-top: 50px;
    
} 


.fixed-top{
    z-index: 0;
}

.container-fluid {
    color: white;
    
}

.container-fluid img{
    margin-top: 15px;
   
}

.navbar-nav {
    padding-left: 30px;
    color: lightgrey;
    width: 500px;
    
}

.index .btn {
    border-radius: 130px;
    background-color: rgb(3, 28, 31);
    color: white;
    border:none;
    margin-right: 100px;
    margin-left: -10px;
    width: 150px;
}

/* Carrousel */

#carouselExampleSlidesOnly{
    position: absolute;
    z-index: -100; 
    width: 100%;
    
    
}  

/* Container redes sociales */

.containerDelRRSS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
} 

.titulo{
    margin-bottom: 80px;
}

.titulo h2{
    color: white;
    font-size: 80px;
    text-align: center;  
    margin-top: 200px;
    font-weight:bolder;
    font-style: oblique;
    text-shadow:  3px 3px 2px rgb(3, 28, 31);;
    
}

.containerRRSS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
 
}

/* .youtube {
    display: flex;
    flex-direction: column;
} */

.youtube video{
    border: 3px solid black; 
    
}


@media screen and (max-width: 560px) {

    .rrss p{
        display: none;
    }

    .navbar-toggler{
        background-color: rgb(3, 28, 31);
    }

    #navbarSupportedContent{
        background-color: rgb(3, 28, 31);
        color: whitesmoke;
        border: 1px solid grey;
        
    }

    .nav-item:hover{
        background-color: rgb(6, 54, 59);
    }

    .titulo{
        margin-bottom: 100px;
    }
    .titulo h2{
        font-size: 40px;
        margin-top: 80px;
        height: auto;
        width: auto;
    }

    .containerRRSS{
        flex-direction: column;
        width: auto;
        
    }

    .youtube{
        order:0;
    }

    .facebookHome,
    .youtube,
    .twitterHome {
        
        margin-bottom: 20px;
    }


}

/*   STANDINGS  */

/* BODY */

body{
    background-image: url("/imagenes/1530561709_549877_1530563518_noticia_normal.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}  

/* HEADER */

/* navbar */

#navbarComun {
    background-color: rgb(3, 28, 31);
    margin-top: 0px;
    
    
}

#navbarComun .dropdown-menu a:hover {
    background-color: rgba(5, 45, 49, 0.589);
    color:lightgrey;
}

.comun .btn {
    
    color: white;
    border:none;
    margin-right: 100px;
    margin-left: -10px;
    width: 150px;
}

/*  MAIN  */

.main {
    width: 80%;
    margin:auto;
    margin-bottom: 100px;
    min-height: 390px;
    
}

/* tabla Clasificación */

.container_table-clasificacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; 
    margin: auto;
    background-color: rgba(166, 188, 190, 0.705);
    border: 2px solid rgba(182, 201, 202, 0.671);
    margin-top: 40px;

}

#tablaClasificacion{
    overflow: scroll;
    height: 550px;
    width: 100%;   
}

.clasificacion thead tr th{
    text-align: center;
    position: sticky;
    top:0;
    z-index: 10;
    background: rgba(100, 113, 114, 0.801);
    text-align: right;

}

.clasificacion thead tr th:first-of-type{
    text-align: left;
}

.clasificacion thead tr th:last-of-type{
    text-align: center;
}

table img {
    width: 40px;
}

.clasificacion tbody tr td {
    text-align: right;
}

.clasificacion tbody tr td:nth-child(3) {
    width: 400px;
}

.clasificacion tbody tr td:nth-child(1),
.clasificacion tbody tr td:nth-child(2),
.clasificacion tbody tr td:nth-child(3){
    text-align: left;
}


.clasificacion tbody tr td:nth-child(12) {
    text-align: center;
}

.clasificacion tbody tr:first-of-type,
.clasificacion tbody tr:nth-child(2),
.clasificacion tbody tr:nth-child(3),
.clasificacion tbody tr:nth-child(4){
    border-left: 3px solid dodgerblue;
}

.clasificacion tbody tr:nth-child(5),
.clasificacion tbody tr:nth-child(6) {
    border-left: 3px solid rgb(228, 156, 24);
}

.clasificacion tbody tr:last-of-type,
.clasificacion tbody tr:nth-child(18),
.clasificacion tbody tr:nth-child(19) {
    border-left: 3px solid rgb(216, 19, 19);
}

.clasificacion tbody tr:first-of-type {
    border-top: none;
}

.clasificacion tfoot {
    height: 200px;
}

.containerFoot{
    display: flex;
    justify-content:left;
    width: 100%;
    background-color: rgba(241, 243, 243, 0.644);
    margin-top: -15px;
    padding: 10px;
    border: 20px solid rgba(166, 188, 190, 0.623);;
    height: 120px;
}

.containerFoot h3 {
    font-size: 10px;
    
}

.containerFoot p {
    font-size: 10px;
    margin-right: 10px;
}

.containerInterior {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
 
}
.titulos {
    display: flex;
    height: 15px;  
}

@media screen and (max-width: 560px) {
    .containerFoot{
        flex-direction: column;
        height: auto;
    }

    .containerInterior{
        margin-top: 10px;
    }
}

/*  MATCHES  */


/*  loading  */


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fed;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}

.loader-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(51, 70, 51, 0.438);
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: 999;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.3s ease-in-out;
    top:0;
    left: 0;
}
  
 

/*  filtros  */


.container-filtros{
    display:flex;   
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;     
}


.container-filtros .buscarEquipos{
    display: flex;   
    margin-bottom: 20px;
    justify-content: space-around;
}


.buscarEquipo {
    padding: 10px;
    background: rgba(100, 113, 114, 0.548);
    border: none;
    border-radius: 6px;
    text-align: center;
    margin-right: 20px;
    max-height: 44px;
    
}
.escribirNombre{
    display: flex;
}

.buscarEquipo::placeholder{
    color:whitesmoke;
}

.buscarEquipo:hover{
    background-color: rgba(100, 113, 114, 0.295);
    
}

.buscarEquipo:hover::placeholder{
    color:whitesmoke;
    
}

#botonFiltro{
    box-shadow: none;
    margin-right: 20px;
    background:none;
    color: white;
    border:none;
    font-size: 20px;
    
}

#botonFiltro:hover {
    background-color: #198754;
    box-shadow: none;
       
}

.borrarFiltrar {
    display: flex;
}

#reset{
    background-color: rgba(100, 113, 114, 0.644);
    color: whitesmoke;
    box-shadow: none;
    padding: 10px;
    border: none;
    

}

#reset:hover{
    background-color: rgba(5, 45, 49, 0.589);
    color: whitesmoke;
    box-shadow: none;
    
}

#botonOpciones{
    background-color: rgba(100, 113, 114, 0.644);
    color: whitesmoke;
    box-shadow: none;
    padding: 10px;
    border: none;
    margin-left: 20px;
}
#botonOpciones:hover{
    background-color: rgba(5, 45, 49, 0.589);
    color: whitesmoke;
    box-shadow: none;
}

.opciones{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    
}

.opciones div {   
    margin: 5px 0px 5px 5px;
}

.opciones input {
    display:none;
    
}

.opciones label{
    background-color: rgba(3, 28, 31, 0.616);
    border-radius: 5px;
    padding: 3px;
    color: lightgrey;   
}

.opciones label:hover {
    background-color: rgba(6, 54, 59, 0.548);
}

.opciones label:active{
    background-color: lightgrey;
} 



/* tabla Partidos */



.containerTable-partidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#tablaPartidos{
    overflow: scroll;
    height: 450px;
    width: 70%;      
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(211, 211, 211, 0.493);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb{
    background: rgb(100, 113, 114);;
    border-radius: 4px;
}



.partidos {
    font-size: 15px;  
    background-color: rgba(166, 188, 190, 0.596);
    border: 2px solid rgba(182, 201, 202, 0.527);
   
}





.partidos thead tr th{
    text-align: center;
    position: sticky;
    top:0;
    z-index: 10;
    background: rgb(100, 113, 114);


}


#body_table tr td:nth-child(1),
#body_table tr td:nth-child(2){
    text-align: right;
}


#body_table tr td:nth-child(3) {
    text-align: center;
}


#body_table tr td:nth-child(5) {
    text-align: left;

}

@media screen and (max-width: 560px) {
    .buscarEquipos{
        flex-direction: column;
    }
    .borrarFiltrar{
        justify-content: flex-end;
        margin-top: 10px;
    }
}

/* .alertaSinPartidos {
    display:none;
} */

/*  FOOTER  */

footer {
    background-color: rgba(211, 211, 211, 0.432);
}

/*  ESTADISTICAS  */

.containerTable-estadisticas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    

}

.estadisticas {
    width: 45%;
    background-color: rgba(166, 188, 190, 0.705);
    border: 2px solid rgba(182, 201, 202, 0.671);
    margin-top: 100px;
}

.estadisticas thead { 
    background-color: rgba(100, 113, 114, 0.801);
}

@media screen and (max-width: 560px) {
    .containerTable-estadisticas{
        flex-direction: column;
    }
}